body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: url('https://raw.githubusercontent.com/AnkitBele21/centurydewas/main/photo/stock-photo-opening-frame-of-the-snooker-77557717-ZSbCgl2Ur-transformed.png') no-repeat center center fixed;
    background-size: cover;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo-inactive img, .logo-active img {
    transition: width 1s, transform 1s;
}

.logo-inactive img {
    width: 50%;
}

.logo-active img {
    width: 250px;
    transform: translateY(-20px);
}

#match-info {
    text-align: center;
    position: relative;
    z-index: 1;
}

.player-card {
    background-color: rgba(0, 0, 0, 0.7);
    color: #01AB7A;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.player-name {
    font-size: 24px;
    font-weight: bold;
}

.player-details {
    font-size: 18px;
}

.vs-text {
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
}

.start-time {
    color: #FFFFFF;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}
