body {
    background-color: #22252B;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#logo-container {
    margin-bottom: 20px;
}

.logo-inactive img {
    width: 50%; /* Larger logo when inactive */
}

.logo-active img {
    width: 180px; /* Smaller logo when active */
}

#match-info {
    text-align: center;
    animation: fadeIn 1s;
}

.player-card {
    background-color: #33363B;
    color: #FFEB3B;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-name {
    font-size: 20px;
    font-weight: bold;
}

.player-details {
    font-size: 16px;
}

.vs-text {
    color: #01AB7A;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

.start-time {
    color: #FFEB3B;
    margin-top: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
